@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  /* color: #3a4a40; */
}

#root {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

a {
  /* font-weight: 500; */
  color: black;
  text-decoration: inherit;
}
a:hover {
  color: black;
  /* text-decoration: underline; */
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  /* background-color: #f5fff8; */
}

#navigation {
  /* background-color: #8eb49b; */
}

h1 {
  /* font-size: 3.2em; */
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  /* font-size: 1em; */
  /* font-weight: 500; */
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#gh-logo {
  width: 20px;
  height: 20px;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  outline: black solid;
}

#gh-logo:hover {
  transform: rotate(360deg) scale(1.2);
}

#content.home {
  background-image: url("assets/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 950px) {
  #content.home {
    background-image: url("assets/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 950px;
  }
}
